@model BlogApp.Entity.Blog
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";//admin ve kullanıcı diye ikiye ayırdık.
}
}

<div class="container">
    <form asp-controller="Blog" asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Image"></label>
            <textarea asp-for="Image" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="CategoryID"></label>
            <select asp-for="CategoryID" asp-items="ViewBag.Categories" class="form-control">
                <option disabled selected>Select Category</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

